a.scroll-to-top.ROUND_COLOR,
a.scroll-to-top.RECT_COLOR {
  background-color: #d42727;
}
a.scroll-to-top.ROUND_COLOR:hover,
a.scroll-to-top.RECT_COLOR:hover {
  background-color: #b46d6b;
}
ul li::before {
  color: #c8232e;
}
.basket_print i {
  background-color: #c02222;
}
.rss_feed_icon {
  background: #c8232e;
  color: #000;
}
.start_promo .item i.title a,
.start_promo .item i.price a,
.start_promo .item i.title span,
.start_promo .item i.price span,
.start_promo .item span.main_wrap i:after,
.start_promo .item p span,
.wrap_tizer .wrap_outer,
.wrap_tizer .wrap_outer .outer_text,
.wrap_tizer .wrap_outer .inner_text {
  background: #d12525;
}
.start_promo .item i.title span,
.start_promo .item i.price span {
  box-shadow: -4px 1px 0px 4px #d12525, 4px 1px 0px 4px #d12525;
}
.start_promo .item i.price span {
  box-shadow: -4px 0px 0px 4px #d12525, 4px 0px 0px 4px #d12525;
}
.module-map .infoBox .close_info:hover {
  background-color: #c8232e;
}
#header ul.menu.full > li.search_row #search-submit-button:hover,
#header ul.menu.full > li.search_row #search-submit-button.hover {
  border: transparent;
}
#header .catalog_menu ul.menu > li,
#header ul.menu.adaptive:not(.opened) li.menu_opener,
#header ul.menu.full.opened li:not(.search_row):hover,
#header ul.menu.full.opened li.current {
  border-bottom: 1px solid #99231b;
}
#header .catalog_menu ul.menu > li:not(.current):not(.stretch):hover {
  border-bottom: 1px solid #9d1c20;
  border-right: 1px solid #9d1c20;
}
#header ul.menu.full.opened li:not(.search_row):hover,
#header ul.menu.full.opened li.current {
  border-top: 1px solid #d12525;
}
#header .catalog_menu ul.menu > li.current > a {
  color: #fff;
  border-left: 1px solid #cd2424;
}
#header .catalog_menu ul.menu > li {
  border-right: 1px solid #99231b;
}
.header-cart-block .cart span.icon i {
  background-position: 0px -84px;
}
ul.menu li .child .child_wrapp,
.breadcrumbs .dropdown,
.authorization-cols .form-block {
  border-top: 2px solid #c8232e;
}
.catalog_detail ul.tabs.main_tabs {
  border-bottom: 2px solid #c8232e;
}
ul.menu li b.space,
.breadcrumbs .drop b.space,
.hint .triangle {
  border-bottom: 6px solid #c8232e;
}
.basket_button,
.basket_button span,
.button30,
.button30 span,
.popup .soc-avt .row a {
  color: #fff;
}
#bx-soa-order-form .btn.btn-default {
  background: #d42727;
  border-color: #d42727;
}
#bx-soa-order-form .btn.btn-default:hover {
  background: #dc3e3e;
  border-color: #dc3e3e;
}
ul.tabs li.cur .triangle,
.view-list .view-header i.triangle {
  border-top: 5px solid #c02222 !important;
}
.basket_button.add span {
  background-position: 0px -6px;
}
.basket_button.read_more span {
  background-position: 1px -448px;
}
.basket_button.added span {
  background-position: 0px -45px;
}
.front_slider_wrapp .extended_pagination > li.active i.triangle {
  border-right-color: #c02222;
}
.catalog_detail .extended_info a.compare_item i {
  background-position: -32px -65px;
}
.catalog_detail .extended_info a.wish_item i {
  background-position: 3px -72px;
}
.display_list a.compare_item i {
  background-position: -32px -3px;
}
.display_list a.wish_item i {
  background-position: -3px -2px;
}
.display_list a.compare_item:hover i,
.display_list a.compare_item.added i {
  background-position: -32px -65px;
}
.display_list a.wish_item:hover i,
.display_list a.wish_item.added i {
  background-position: -3px -63px;
}
.popup .form .form_head {
  border-bottom-color: #c8232e;
}
.item_slider .thumbs i.triangle {
  border-bottom: 5px solid #c8232e;
}
blockquote:before {
  background-color: #c8232e;
}
.module-gallery-list li .fancy_hover:hover {
  border: 2px solid #c8232e;
}
.smartfilter .bx_ui_slider_track .bx_ui_slider_range,
.bx_filter .bx_ui_slider_pricebar_V {
  background: #d42727;
}
.catalog_block .catalog_item .basket_button.read_more span {
  background-position: 1px -408px;
}
.catalog_block .catalog_item .basket_button.to-cart span {
  background-position: 0 -7px;
}
.catalog_block .catalog_item:hover .basket_button span {
  color: #fff;
  background-position: 0px -87px;
}
.catalog_block .catalog_item:hover .basket_button.read_more span {
  background-position: 1px -448px !important;
}
.catalog_item .basket_button.in-cart span,
.basket_button.in-cart span {
  background-position: 0px -127px !important;
}
.catalog_item:hover .item-title a,
.item:hover .info a,
.item:hover .name a,
.item:hover .title a,
.item .title a:hover {
  color: #c02222 !important;
}
.catalog_item:hover .basket_button.added span {
  color: #fff;
}
.bx_filter_container #modef .triangle,
.left_block .internal_sections_list .child_wrapp .triangle {
  border-right: 6px solid #c8232e;
}
#order_form_div .sale_order_table .ps_logo img:hover,
#order_form_div .sale_order_table .ps_logo input[type=radio]:checked + label img,
#order_form_div .sale_order_table.delivery label:hover img,
#order_form_div .sale_order_table.delivery input[type=radio]:checked + label img,
#order_form_div div.ps_logo.selected img,
#order_form_div .account label:hover img,
#order_form_div .account img.active {
  border: 2px solid #c8232e;
}
.front_slider_wrapp .extended_pagination > li.active span,
a.b-share-popup__item:hover .b-share-popup__item__text {
  color: #fff !important;
}
ul.tabs li.cur span,
ul.tabs li.cur:hover span,
.front_slider_wrapp a.read_more {
  color: #fff;
}
.left_menu > li.current >a,
.left_menu > li:not(.exit):hover {
  background: #c8232e;
}
a i.arrow b {
  background-position: -36px 0px;
}
.top-h-row .search #search-submit-button:hover i,
.top-h-row .search #search-submit-button.hover i {
  background-position: top center;
}
.catalog_detail a.compare_item:hover .icon i {
  background-position: -32px -65px;
}
.catalog_detail a.wish_item:hover .icon i {
  background-position: 2px -45px;
}
ul.menu li.current a i {
  background-position: -61px 0px;
}
.button30.ask_question span.show_form,
.button30.ask_question span.hide_form {
  background-position: 5px -605px;
}
.button30.ask_question span.hide_form {
  color: #000;
}
.button30.ask_question span.hide_form:hover {
  color: #fff;
}
.question-list .q .ic b {
  background-position: -38px -188px;
}
.question-list .q.op .ic b {
  background-position: -8px -188px;
}
.number_list a.current span {
  color: #fff !important;
}
.basket_button span,
.compare_button span {
  background-position: 0px -87px;
}
.bx_filter_container_title .hint.active .hint_icon,
.bx_filter_container_title .hint.active .hint_icon,
.bx_filter_container_title .hint.active .hint_icon:hover,
#header .basket_fly .opener .basket_count:not(.empty) .count {
  color: #fff;
}
.left_block .internal_sections_list li.item:hover > a,
.left_block .internal_sections_list li.item.cur > a {
  color: #fff;
}
.left_block .internal_sections_list li * {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
a.compare_item i {
  background-position: -31px -1px;
}
a.wish_item i {
  background-position: -2px -1px;
}
a.compare_item:hover i {
  background-position: -31px -33px;
}
a.wish_item:hover i {
  background-position: -2px -32px;
}
a.compare_item.added i {
  background-position: -31px -63px;
}
a.wish_item.added i {
  background-position: -2px -62px;
}
.module_products_list .basket_button.to-cart span {
  background-position: 0 -7px;
}
.module_products_list .basket_button.to-cart:hover span {
  background-position: 0px -87px;
}
.basket_button.in-cart span {
  background-position: 0px -127px;
}
.popup .close:hover i,
.inline.close:hover i,
.popup .grey .close i,
.popup-window-close-icon.popup-window-titlebar-close-icon:hover:after {
  background-position: -1px -59px;
}
.card_popup_frame.popup .but_row a.to_basket .icon i {
  background-position: -5px -170px;
}
.soc-serv-main .button30 span,
.reviews-expanded .button30.add_review span,
.catalog_detail .basket_button.one_click span,
.button30.review_preview span,
.popup .grey .pop-up-title {
  color: #000;
  text-shadow: 0 1px 0px rgba(255,255,255,0.5);
  -moz-text-shadow: 0 1px 0px rgba(255,255,255,0.5);
  -o-text-shadow: 0 1px 0px rgba(255,255,255,0.5);
  -webkit-text-shadow: 0 1px 0px rgba(255,255,255,0.5);
}
.module-order-history .status.delivered {
  color: #fff;
}
.jobs_wrapp .item a:not(.opened):hover .icon i,
.staff_wrapp .section .section_title:not(.opened):hover .icon i {
  background-position: -31px -33px;
}
.jobs_wrapp .item a.opened:hover .icon i,
.staff_wrapp .section .section_title.opened:hover .icon i {
  background-position: 0 -34px;
}
.button30.add_review span {
  background-position: 4px -286px;
}
.button30.send_review span {
  background-position: 4px -365px;
}
.card_popup_frame.popup .but_row a.to_delay .icon i {
  background-position: -48px -257px;
}
.compare_button span {
  background-position: -32px -64px;
}
#header .basket_fly .opener .basket_count .icon i {
  background-position: -7px -89px;
}
#header .basket_fly .opener .basket_count.empty:hover .icon i {
  background-position: -7px -47px;
}
#header .basket_fly .opener .basket_count.empty .icon i {
  background-position: -7px -5px;
}
#header .basket_fly .opener .wish_count .icon i {
  background-position: -48px -424px;
}
#header .basket_fly .opener .wish_count:hover .icon i {
  background-position: -48px -383px;
}
ul.menu li a {
  color: #000;
}
.catalog_menu ul.menu li a {
  color: #fff;
}
ul.menu li a i {
  background-position: -2px -20px;
}
.catalog_menu ul.menu li a i {
  background-position: -61px 0px;
}
a i.arrow.down b {
  background-position: -36px -35px;
}
.catalog_item:hover .basket_button span {
  color: #fff;
}
ul.specials_slider .basket_button span {
  background-position: 0 -7px;
}
ul.specials_slider .basket_button:hover span,
ul.specials_slider li:hover .basket_button span {
  background-position: 0px -87px;
}
ul.specials_slider  .basket_button.read_more span {
  background-position: 1px -408px;
}
ul.specials_slider li:hover .basket_button.read_more span {
  background-position: 1px -448px !important;
}
.top_slider_wrapp .flex-direction-nav li a.flex-next {
  background-position: -58px -60px;
}
.top_slider_wrapp .flex-direction-nav li:hover a.flex-prev {
  background-position: -3px -60px;
}
.top_slider_wrapp .flex-direction-nav li a.flex-prev {
  background-position: -3px 0px;
}
#header .basket_fly .opener .wish_count.empty:hover .icon i {
  background-position: -48px -341px;
}
#header .basket_fly .opener .wish_count.empty .icon i {
  background-position: -48px -299px;
}
#basket-root .basket-items-list-header-filter-item:not(.active) {
  color: #d42727;
}
#basket-root .basket-items-list-header-filter-item.active:before {
  background-color: #d42727;
}
#basket-root .basket-item-scu-item:hover,
#basket-root .basket-item-scu-item.selected,
#basket-root .basket-item-scu-item.not-available:hover {
  border-color: #d42727;
}
#basket-root .basket-items-list .basket-item-block-info .basket-items-list-item-warning-container .alert.alert-warning a[data-entity="basket-item-remove-delayed"]:before {
  background-color: #d42727;
}
#basket-root .basket-item-property-scu-text .basket-item-scu-item.selected {
  background-color: #d42727;
}
#basket-root .basket-coupon-block-coupon-btn {
  background-color: #d42727;
}
#basket-root .basket-checkout-section .btn.btn-default:not(.basket-btn-checkout) {
  border-color: #d42727;
  background-color: #d42727;
}
#basket-root .basket-checkout-section .btn.btn-default:hover,
body #basket-root .basket-checkout-section .btn.btn-default:active,
body #basket-root .basket-checkout-section .btn.btn-default:focus {
  border-color: #dc3e3e;
  background-color: #dc3e3e;
}
#basket-root #basket-warning {
  border-color: #d42727;
}
#bx-soa-order .bx-soa-section .bx-soa-section-title:before {
  background-color: #d42727;
}
#bx-soa-order div[class*=bx-sls] .quick-locations .quick-location-tag {
  border-color: #d42727;
  color: #d42727;
}
#bx-soa-order div[class*=bx-sls] .quick-locations .quick-location-tag:hover {
  background-color: #d42727;
  color: #fff;
}
#bx-soa-order .bx-soa .form-group .radio-inline.checked label:before,
#bx-soa-order .bx-soa .form-group .radio-inline label:hover:before,
#bx-soa-order .bx-soa-pp-company:hover .bx-soa-pp-company-graf-container:before,
#bx-soa-order .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container:before {
  background-color: #d42727;
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container,
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company:hover .bx-soa-pp-company-graf-container {
  border-color: #d42727;
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company:before,
#bx-soa-order .bx-soa-pp-desc-container .checkbox label:hover:before,
#bx-soa-order .bx-soa-pp-desc-container .checkbox label.checked:before {
  background-color: #d42727;
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company:hover .bx-soa-pp-company-smalltitle,
#bx-soa-order .bx-soa-more .bx-soa-more-btn .pull-left {
  color: #d42727;
}
#bx-soa-order .bx-soa-coupon-input:hover:after,
#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-remove:hover {
  background-color: #d42727;
}
div[class*=bx-sls] .bx-ui-sls-clear:hover:before {
  background-color: #d42727 !important;
}
.set_block .item .item_inner .image .quantity {
  background-color: #d42727;
}
@media all and (max-width: 950px) {
  .header_wrap.colored #header .center_block .main-nav {
    background: #d12525;
  }
}
@media all and (max-width: 767px) {
  .top_slider_wrapp .flex-direction-nav li.flex-nav-next a.flex-next {
    background-position: -26px -49px;
  }
  .top_slider_wrapp .flex-direction-nav li.flex-nav-next a.flex-next:hover {
    background-position: -26px -25px;
  }
  .top_slider_wrapp .flex-direction-nav li.flex-nav-prev a.flex-prev {
    background-position: 10px -49px;
  }
  .top_slider_wrapp .flex-direction-nav li.flex-nav-prev a.flex-prev:hover {
    background-position: 10px -25px;
  }
  body .color-controls .flex-control-paging li a.flex-active,
  body .color-controls .flex-control-paging li:hover a:not(.touch) {
    background: #d12525;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYWFlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDhmYzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,#d12525 0%,#bb2621 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d12525),color-stop(100%,#bb2621));
    background: -webkit-linear-gradient(top,#d12525 0%,#bb2621 100%);
    background: -o-linear-gradient(top,#d12525 0%,#bb2621 100%);
    background: -ms-linear-gradient(top,#d12525 0%,#bb2621 100%);
    background: linear-gradient(to bottom,#d12525 0%,#bb2621 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@bcolor_00aae2',endColorstr='@bcolor_008fc7',GradientType=0);
  }
}
@media all and (max-width: 600px) {
  #header ul.menu.full.opened > li,
  .has_menu #header .center_block .main-nav {
    background-color: #d12525;
  }
  .has_menu #header .center_block .main-nav:hover {
    background: #c26c6f none repeat scroll 0 0;
  }
  #header ul.menu.full.opened li.current {
    background: #bb2621;
  }
}
@media all and (max-width: 550px) {
  body #footer .footer_inner .line {
    border-top: 4px solid #c8232e;
  }
  .basket_wrapp .empty_cart:not(.bcart) .wraps_icon_block.basket .count span,
  .basket_wrapp .basket_empty .wraps_icon_block.basket .count span {
    color: #FFF;
    background: #d12525;
  }
}
#header .wrapper_middle_menu.wrap_menu ul.mobile_menu li:hover>a,
#header .wrapper_middle_menu.wrap_menu ul.mobile_menu li.opened>a,
#header .wrapper_middle_menu.wrap_menu ul.mobile_menu li.current > a {
  background: #c26c6f;
}
#header .wrapper_middle_menu.wrap_menu ul.menu.opened > li {
  background: #c02222;
}
.button.transparent,
.h_color_white .header_wrap .menu > li.current > a span,
.h_color_white.wrapper #header ul.menu li .child .child_wrapp,
.m_color_white.wrapper #header ul.menu li .child .child_wrapp,
.basket_normal .popup.card_popup_frame .basket_popup_wrapp,
.basket_sort ul.tabs li.cur div,
.smartfilter .bx_ui_slider_track .bx_ui_slider_handle,
.bx_filter .button,
.bx_filter_vertical input[type="checkbox"]:checked + label.sku,
.sku_props .bx_item_detail_size ul li.active,
.bx_size_scroller_container .bx_size ul li.bx_active,
.bx_filter .bx_filter_param_label.active .bx_filter_param_btn,
.bx_catalog_item_scu .bx_item_detail_scu ul li.active span.cnt,
.item_slider .thumbs li.current,
.popup-window.popup-window-titlebar .popup-window-top-row .popup-window-left-column,
.popup-window.popup-window-titlebar .popup-window-top-row .popup-window-center-column,
.popup-window.popup-window-titlebar .popup-window-top-row .popup-window-right-column,
.popup-window.popup-window-titlebar-light .popup-window-top-row .popup-window-left-column,
.popup-window.popup-window-titlebar-light .popup-window-top-row .popup-window-center-column,
.popup-window.popup-window-titlebar-light .popup-window-top-row .popup-window-right-column,
.bx_element input[type=radio]:checked + label .bx_logotype,
.bx_element label.selected .bx_logotype {
  border-color: #d42727;
}
a,
.link,
.button.transparent,
.button.transparent:hover,
.specials_slider_wrapp ul.tabs > li span,
.tab_slider_wrapp ul.tabs > li span,
.basket_wrapp .basket_block .link:hover + .wraps_icon_block + .text .title,
.stores .stores_list .item a span,
.phones .order_wrap_btn,
.footer_bottom .all_menu_block ul li a:hover,
.footer_bottom .submenu_top .menu_item a:hover,
.avtorization-call.enter:hover span,
.top-h-row .h-user-block a:hover,
ul.menu .child li.menu_item a,
#header .catalog_menu ul.menu > li.current > a,
ul.menu .child .depth3 a,
ul.menu .child li.menu_title a:hover,
#header ul.menu li .child.submenu .child_wrapp a:not(.title),
.img_block_capcha .reload,
.h_color_white .center_block .menu.full > li:hover > a,
.m_color_white #header .wrapper_middle_menu .menu.bottom > li:hover > a,
.m_color_white #header .wrapper_middle_menu .menu.bottom > li.hover > a,
body #header ul.menu li .child.line .child_wrapp > a:hover,
.basket_sort ul.tabs li .wrap_li > span *,
.basket_sort ul.tabs li .wrap_li > span,
.bx_filter_parameters_box_title:hover,
.bx_filter .bx_filter_popup_result a,
.left_block .internal_sections_list .child_wrapp .child li.cur > a,
.left_block .internal_sections_list .child_wrapp .child li.depth3 a.menu_item.cur,
.left_block .internal_sections_list .child_wrapp a:hover,
.ajax_load_btn:hover .more_text_ajax,
.breadcrumbs a:hover span,
.tabs-head li.current span,
.item-stock .store_view,
.reviews-post-reply-buttons a:hover,
h4.hover,
.button.transparent.white:hover,
.button.white_bg,
.item .child_container .child_wrapp .menu_item.current a,
.item .child_container .child_wrapp .menu_item:hover a {
  color: #c02222;
}
button.button,
input.button,
.button,
#header ul.menu.full.opened li:not(.search_row):hover,
#header ul.menu.full > li.search_row #search-submit-button:hover,
table.title-search-result td.title-search-all a .icon,
.flex-direction-nav li:hover,
.flex-direction-nav li:first-child:hover,
.top_slider_wrapp .flex-direction-nav li:hover,
.like_icons .wish_item.added,
.like_icons .compare_item.added,
.light .stores .all_map,
.block_wr.dark,
.popup .close:hover,
.inline.close:hover span,
.header_wrap #header .middle-h-row .logo_wrapp .logo a,
.h_color_colored .header_wrap #header,
.registraion-page .top p:after,
.has_menu.m_color_colored #header .catalog_menu,
.module-cart .remove-cell a:hover,
.cart_shell .remove-cell a:hover,
.bx_item_set_hor .bx_item_set_hor_item a.remove,
.bx_filter .bx_filter_popup_result,
.bx_filter .bx_filter_parameters_box_title:before,
.bx_filter_vertical input[type="checkbox"] + label:before,
.filter input[type="checkbox"] + label:before,
.filter input[type="radio"] + label:before,
.bx_filter label.pal:hover .bx_filter_param_btn,
.bx_filter .bx_filter_param_label.active .bx_filter_param_btn,
.bx_filter_vertical input[type="checkbox"]:checked + label.sku,
.left_block .internal_sections_list li.cur,
.left_block .internal_sections_list li:hover,
.left_block .internal_sections_list .title .inner_block:hover:before,
.left_block .internal_sections_list .child_wrapp .child li.depth3 a.menu_item.cur:before,
.left_block .internal_sections_list .child_wrapp .child li.depth3 a.menu_item:hover:before,
.left_block .internal_sections_list .child_wrapp ul.child li.cur:after,
.left_block .internal_sections_list .child_wrapp ul.child li:hover:after,
body #content .props_list tr td > span:before,
body #content .props_list tr td > .txt:before,
.module-pagination .nums .cur,
.more_text_ajax:before,
.captcha_reload:before,
.sku_props .bx_item_detail_size ul li.active,
.bx_size_scroller_container .bx_size ul li.bx_active,
.bx_catalog_item_scu .bx_item_detail_scu ul li.active span:not(.cnt_item),
.ik_select_list .ik_select_list_inner ul li.ik_select_active,
.bx_filter_select_popup ul li label.selected,
.bx_filter_select_popup ul li a.current,
.filter_opener.opened,
.filter_opener:hover,
.no_goods .no_products:before,
.wr_scrollbar .scrollbar .handle,
.remove:hover,
a i.arrow,
.popup-window-close-icon.popup-window-titlebar-close-icon:hover,
.bx_kit_item .bx_kit_item_add,
.catalog_detail .offers_table td.opener:hover .opener_icon,
.opener_icon:hover,
.char_name .hint .icon:hover,
.char_name .hint.active .icon,
.location-block-wrapper .bx-sls .bx-ui-sls-clear:before,
h4:hover .opener_icon,
.bg_block:before,
#order_form_div input[type="submit"],
.module-order-history .item_name:hover .icon,
.module-order-history .item_name:hover .icon,
.faq.list .item .q:hover .opener_icon,
.jobs_wrapp .item .name tr:hover .opener_icon {
  color: #FFF;
  background: #d12525;
}
.bigs .flex-direction-nav li {
  color: #FFF;
  background: #d12525;
}
.btn.btn-default {
  background-color: #d42727;
  border-color: #d42727;
  color: #ffffff;
}
.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default:focus {
  background-color: #dc3e3e;
  border-color: #dc3e3e;
}
.btn.btn-default.white:not(.grey) {
  color: #d42727 !important;
  border: 1px solid #d42727;
  background: #ffffff;
}
.btn.btn-default.white:hover,
.btn-default.white:active,
.btn-default.white:focus {
  color: #ffffff !important;
  border-color: #d42727;
  background: #d42727;
}
.btn.btn-default.white.white-bg:hover,
.btn-default.white.white-bg:active,
.btn-default.white.white-bg:focus {
  color: #d42727 !important;
  border-color: #d42727;
  background: #fff;
}
.btn.btn-primary {
  background-color: #00b290;
  border-color: #00b290;
}
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background-color: #30c4a8;
  border-color: #30c4a8;
}
.btn.btn-success {
  background-color: #84bc29;
  border-color: #84bc29;
}
.btn.btn-success:hover,
.btn.btn-success:active,
.btn.btn-success:focus {
  background-color: #9dca53;
  border-color: #9dca53;
}
.btn.btn-info {
  background-color: #0ca9e3;
  border-color: #0ca9e3;
}
.btn.btn-info:hover,
.btn.btn-info:active,
.btn.btn-info:focus {
  background-color: #39baec;
  border-color: #39baec;
}
.btn.btn-warning {
  background-color: #f38b04;
  border-color: #f38b04;
}
.btn.btn-warning:hover,
.btn.btn-warning:active,
.btn.btn-warning:focus {
  background-color: #f8a132;
  border-color: #f8a132;
}
.btn.btn-danger {
  background-color: #dc130d;
  border-color: #dc130d;
}
.btn.btn-danger:hover,
.btn.btn-danger:active,
.btn.btn-danger:focus {
  background-color: #e63f3a;
  border-color: #e63f3a;
}
.btn.btn-transparent {
  background-color: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
  color: #000000;
}
.btn.btn-transparent:hover,
.btn.btn-transparent:active,
.btn.btn-transparent:focus {
  background-color: #dc3e3e;
  border-color: #dc3e3e;
}
.btn.btn-transparent:hover {
  color: #ffffff;
}
.btn.btn-responsive-nav {
  background-color: #d42727;
}
.btn.btn-responsive-nav:hover {
  color: #d42727;
  border: 1px solid #d42727;
  background-color: #ffffff;
  padding: 4px 7px 2px;
}
.btn.btn-link {
  color: #d42727;
  border-color: #f2bbbb;
}
.btn.btn-link:hover {
  color: #dc3e3e;
  border-color: transparent;
}
.btn.btn-link:active {
  color: #8f1a1a;
}
.btn.btn-default.wc.vert .fa {
  background-color: #d42727;
}
.btn.btn-default.wc.vert:hover .fa {
  background-color: #dc3e3e;
}
.btn.btn-transparent-border:hover {
  background-color: #d42727;
  border: 1px solid #d42727;
}
.btn-inline {
  color: #d42727;
}
.btn-inline.black:hover {
  color: #d42727;
}
.btn-inline.rounded:hover i {
  background: #d42727;
}
.popup-window-content-white .popup-window-buttons .btn {
  background-color: #d42727;
  border-color: #d42727;
}
.popup-window-content-white .popup-window-buttons .btn:hover {
  background-color: #dc3e3e;
  border-color: #dc3e3e;
}
body .fa.big-icon {
  background: #d42727;
}
body .fa.big-icon.grey {
  color: #d42727;
  background: #efefef;
}
.icon-text {
  color: #fff;
  background: #d42727;
}
.icon-text .fa {
  color: #fff;
}
.icon-text.grey {
  color: #222;
  background: #efefef;
}
.icon-text.grey .fa {
  color: #d42727;
}
.introtext {
  border-bottom-color: #d42727;
}
.preview-text-detail .colored_line {
  background-color: #d42727;
}
.sort_display a.current {
  background-color: #d42727;
}
.view_sale_block .quantity_block .values .item {
  background-color: #d42727;
}
footer .info .email a:hover {
  color: #d42727;
}
.logo.colored svg .icon-path,
.svg.colored path {
  fill: #d42727;
}
.product-item-detail-tabs-container-fixed .product-item-detail-tabs-list li a:before {
  background-color: #d42727;
}
.product-item-detail-tabs-container-fixed .product-item-detail-tabs-list li.active a {
  color: #d42727 !important;
}
#mobileheader .mobileheader-v2 {
  background: #d42727;
}
#mobilemenu .menu ul>li.selected a:before {
  background: #d42727;
}
#mobilemenu .contacts a:hover {
  color: #d42727;
}
#mobilemenu .menu>ul>li.counters .count {
  background: #d42727;
}
#headerfixed .menu-block.rows:hover {
  background-color: #d42727;
}
#headerfixed .menu-block .navs ul li.active > a,
#headerfixed .menu-block .navs ul li a:hover,
#headerfixed .menu-block .navs ul li a:focus {
  color: #d42727;
}
.top-block.colored {
  background: #d42727;
}
.top-block .social-icons li a:hover:before {
  background-color: #d42727;
}
.top-block .top-block-item  .inline-search-show:hover>span {
  color: #d42727;
}
.logo.colored img,
header .line-row,
#mobileheader .logo.colored img {
  background-color: #d42727;
}
.logo-row .top-callback .phone .fa,
.logo-row .top-callback .email .fa {
  background-color: #d42727;
}
.logo-row .top-callback .email,
.logo-row .top-callback .email a:hover {
  color: #dc3e3e;
}
.inline-search-block.fixed.big .search .close-block:hover .close-icons {
  background-color: #dc3e3e;
}
.head-block .item-link.active .title,
.head-block .item-link.active span,
.head-block .item-link.active .btn-inline {
  color: #d42727;
}
.head-block .item-link.active .title span:before,
.head-block .item-link.active .title .btn-inline:before {
  background: #d42727;
}
.search-tags-cloud .tags a:hover {
  background: #d42727;
}
.logo.colored a img {
  background-color: #d12525;
}
.dark-color:hover,
a.colored,
.colored {
  color: #d42727;
}
.catalog_detail .bx-modal-container .btn.btn-add,
.personal_wrapper form input[type=submit] {
  color: #FFF;
  background: #d42727;
}
.catalog_detail .bx-modal-container .btn.btn-add:hover,
.personal_wrapper form input[type=submit]:hover {
  background: #dc3e3e;
}
.colored #header .catalog_menu ul.menu > li,
header .wrap_menu {
  background: #c72525;
}
.tabs-head li.current:before {
  background-color: #d12525;
}
.like_icons .compare_item.added i,
.like_icons .wish_item.added i {
  background-color: #d12525;
}
.icon_error_block:after {
  background-color: #d12525 !important;
}
.flex-direction-nav li:first-child,
.flex-direction-nav li,
.flex-direction-nav li:hover {
  border-bottom-width: 0px;
}
.specials_slider_wrapp ul.tabs li.cur span,
.tab_slider_wrapp ul.tabs li.cur span,
.popup .popup-intro {
  border-bottom-color: #b46966;
}
.button:hover,
.like_icons .compare_item.added:hover,
.like_icons .wish_item.added:hover,
.light .stores .all_map:hover {
  background: #b46966;
}
html:not(.bx-touch) .like_icons .compare_item.added:hover i,
html:not(.bx-touch) .like_icons .wish_item.added:hover i {
  background-color: #b46966;
}
.wrapper_middle_menu.wrap_menu.mobile:hover {
  background: #b46966;
}
.header_wrap #header .catalog_menu.menu_colored .inc_menu  ul.menu > li:not(.current):hover > a {
  background: #d93131;
}
header .menu_top_block li .dropdown>li:hover>a,
header .menu_top_block li:not(.catalog) .dropdown>li.current >a:not(.section),
header .menu_top_block li.catalog>.dropdown>li:hover>a:before {
  background: #d42727;
}
header .menu_colored .menu_top_block >li.current >a,
header .menu_dark .menu_top_block.menu >li.current >a,
header .menu_dark .menu_top_block.menu >li.current:hover >a,
.menu_top_block.catalog_block .dropdown >li.full:hover>a:before,
.menu_top_block.catalog_block .dropdown >li.full.current>a,
header .menu_top_block li.catalog>.dropdown>li.current>a,
.left_menu > li.current> a,
.left_menu > li:hover> a:before {
  background: #bb2121;
}
header .menu_top_block >li.catalog >a,
header .menu_top_block >li.catalog.current >a,
header .menu_top_block >li.catalog {
  background-color: #d42727;
}
header .catalog_menu .menu_top_block.menu li.catalog li.full.current >a:after,
header .catalog_menu .menu_top_block.menu li.catalog li.full:hover >a:after,
.menu_top_block.catalog_block .dropdown >li.full:hover>a:after,
.left_menu > li.has-childs:hover> a:after {
  color: #cd2424;
}
header .menu_top_block li .dropdown>li.menu_item>a:hover,
.menu_top_block.catalog_block .dropdown>li.full>.dropdown>li>a:not(.section):hover,
.menu_top_block.catalog_block .dropdown>li.full:hover>a,
.left_menu > li:hover> a {
  color: #c02222;
}
.phone_block .phone_wrap .icons {
  color: #c02222;
}
header .menu_top_block li.catalog>.dropdown>li:hover>a,
header .menu_top_block li.catalog>.dropdown>li>.dropdown>li.current>a:not(.section) {
  color: #c02222;
}
header .menu_top_block li .dropdown>li.current >a.section1,
.menu_top_block li .dropdown>li >a.section1:hover,
#header .catalog_menu.menu_light ul.menu > li.current > a,
#header .catalog_menu.menu_light ul.menu > li:hover > a {
  color: #c02222;
}
.mega_fixed_menu .mega-menu table .wrap > .dropdown-menu .dropdown-submenu > a:hover>.arrow>i {
  background-color: #d42727;
}
.mega_fixed_menu .svg.svg-close:hover {
  background-color: #d42727;
}
.inline-search-block.bg-colored-block.show {
  background-color: #d42727;
}
.menu-row.bgcolored .wrap_icon:hover {
  background-color: #dc3e3e;
}
.logo_and_menu-row .burger:hover .svg-burger {
  background-color: #dc3e3e;
}
body .basket-link.basket-count .count {
  background-color: #d42727;
}
.logo_and_menu-row .basket-link:hover .title {
  color: #d42727;
}
.top-block-item  .basket-link:hover  .title {
  color: #d42727;
}
.top-btn:hover .svg:not(.inline) {
  background-color: #d42727;
}
.top-btn .svg.inline:hover svg path,
.top-btn:hover .svg.inline svg path,
.svg.inline:not(.colored):hover svg path,
a:hover .svg.inline path {
  fill: #d42727;
}
a:hover .svg:not(.inline) {
  background-color: #d42727;
}
.fill_bg_n .menu-row.bgcolored,
.fill_bg_y .menu-row.bgcolored > .maxwidth-theme {
  background-color: #d42727;
}
.menu-row.bgcolored .mega-menu table td:hover {
  background-color: #dc3e3e;
}
.menu-row.bgcolored .mega-menu table td.active {
  background-color: #b22121;
}
.mega-menu ul.nav li.active,
.mega-menu ul.nav li:hover {
  background-color: #d42727;
}
.mega-menu table td.active .wrap > a,
.mega-menu table td:not(.search-item):hover .wrap > a {
  color: #d42727;
}
.topmenu-LIGHT .mega-menu table td.active .wrap > .more-items span:before,
.topmenu-LIGHT .mega-menu table td:not(.search-item):hover .wrap > .more-items span:before {
  background-color: #d42727;
}
.mega-menu table td .wrap > a .line-wrapper .line {
  background-color: #d42727;
}
.topmenu-LIGHT .mega-menu table .tail {
  border-bottom: 6px solid #c32424;
}
.mega-menu table .dropdown-menu li > a:hover,
.mega-menu table .dropdown-submenu:hover > a,
.mega-menu table .dropdown-submenu:hover > a:after {
  color: #d42727;
}
.mega-menu table .dropdown-menu li.active > a,
.mega-menu table .dropdown-submenu.active > a,
.mega-menu table .dropdown-submenu.active  > a:after {
  color: #d42727;
}
body .mega-menu table td .wrap > .dropdown-menu > li:first-of-type:before {
  background-color: #d42727;
}
.menu-row.middle-block.bglight .mega-menu table td.icon.sale_icon .wrap > a:before {
  background-color: #d42727;
}
.tabs .nav-tabs li.active a {
  color: #d42727;
}
.tabs .nav-tabs li.active a:before {
  background: #d42727;
}
.tabs .nav-tabs a:hover,
.tabs .nav-tabs a:active,
.tabs .nav-tabs a:focus {
  color: #d42727;
}
.catalog_detail .active .title-tab-heading,
.catalog_detail .title-tab-heading:focus,
.catalog_detail .title-tab-heading:active,
.catalog_detail .title-tab-heading:hover {
  color: #d42727;
}
#simple-prediction .catalog-element-popup-element {
  color: #d42727;
}
.style-switcher .switch:hover,
.style-switcher .switch_presets:hover {
  background: #d42727;
}
.style-switcher .header .header-inner:hover,
.style-switcher .header .header-inner:active,
.style-switcher .header .header-inner:focus {
  background-color: #d42727;
  border-color: #d42727;
}
.style-switcher .header .save_btn:hover {
  background: #d42727;
}
.style-switcher .options .link-item.preset-block:hover .info .icon,
.style-switcher .options .link-item.preset-block.current .info .icon {
  border-color: #d42727;
  background: #d42727;
}
.style-switcher .options .preset-block.current {
  border-color: #d42727;
}
.style-switcher .options > span.current:not(.block),
.style-switcher .options .link-item.current:not(.block):not(.preset-block) {
  background: #d42727;
}
.style-switcher .options .link-item.current.block {
  border-color: #d42727;
}
.style-switcher .tooltip-link:hover {
  background: #d42727;
  border-color: #d42727;
}
.style-switcher .options > div.base_color.current > span,
.style-switcher .options > div.base_color.current > span:hover {
  border-color: #d42727;
}
.style-switcher .left-block .section-block.active:before {
  background: #d42727;
}
.style-switcher .block-title .dotted-block {
  color: #d42727;
}
.uploader:hover .action {
  background-color: #dc3e3e;
  border-color: #dc3e3e;
}
p.drop-caps:first-child:first-letter {
  color: #d42727;
}
p.drop-caps.secundary:first-child:first-letter {
  background-color: #d42727;
}
.label-info {
  background-color: #d42727;
}
section.toggle label {
  color: #d42727;
  border-color: #d42727;
}
section.toggle.active > label {
  background-color: #d42727;
  border-color: #d42727;
}
.progress-bar-primary {
  background-color: #d42727;
}
.slider-container .tp-caption a:not(.btn):hover {
  color: #dd4747;
}
.tp-bullets .bullet.selected,
.tp-bullets .bullet:hover {
  background: #d42727 !important;
}
.fa.colored {
  background: #d42727;
}
.page-top-wrapper.color {
  background: #d42727;
}
.bg_colored_block,
.popup_regions .items .item.current {
  background-color: #d42727;
}
.viewed_block .item_block:hover a {
  color: #d42727;
}
.basket_fill_COLOR .header-cart .basket_fly .opener {
  background: #e20000;
}
.basket_fill_COLOR .header-cart .basket_fly .opener >div:not(.basket_count):hover,
.basket_bottom_block.basket_fill_COLOR .maxwidth-theme .top-block-item .inner-table-block a:not(.basket):hover {
  background: #cd2424;
}
.basket_fill_COLOR.basket_bottom_block {
  background: #e20000;
}
.basket_bottom_block .maxwidth-theme .top-block-item .inner-table-block a.basket {
  background: #dd4747;
}
#footer .footer_inner .line,
.basket_fly .opener .basket_count,
.page_not_found td.image img {
  background: #dd4747;
}
.basket_fly .opener .basket_count:hover,
.basket_bottom_block .maxwidth-theme .top-block-item .inner-table-block a.basket:hover {
  background: #e36565;
}
.subscribe-form input.send_btn {
  background-color: #cd2424;
}
.bx_ordercart .bx_ordercart_order_pay .bx_bt_button {
  background: #d42727;
}
.left_block .subscribe-form .wrap_bg {
  background-color: #cd2424;
}
.news_blocks .info_block .item:before {
  background-color: #cd2424;
}
.bx_ordercart .bx_ordercart_order_pay .bx_bt_button:hover {
  background: #dc3e3e;
}
a .zoom {
  background: #d42727;
}
.bx_ordercart .bx_item_detail_size_small_noadaptive .bx_size ul li.bx_active a {
  background: #b46966;
  color: #fff;
}
.bx_ordercart .bx_item_detail_size_small_noadaptive .bx_size ul li:not(.bx_active):hover a {
  color: #c02222;
}
a.dark_link:hover,
.dark_link:hover span,
.dl:hover a,
.selected a.dark_link,
.current a.dark_link {
  color: #c02222 !important;
}
.menu_top_block.catalog_block .dropdown>li.full>.dropdown>li>a,
body .menu_top_block.catalog_block .v_bottom li.current>a,
header .menu_top_block.catalogfirst li.full>.dropdown>li:not(.current)>a {
  color: #c02222;
}
.middle_phone .phone_wrap .icons,
.top_slider_wrapp .flexslider .slides > li:after {
  background-color: #cd2424;
}
.top_slider_wrapp.view_2 .flexslider .slides li td.tablet_text {
  background-color: #d12525;
}
.top_slider_wrapp.view_2 .flexslider .slides li td.tablet_text .banner_buttons .btn {
  background: #d42727;
}
.top_slider_wrapp.view_2 .flexslider .slides li td.tablet_text .banner_buttons .btn.white {
  color: #fff !important;
}
.top_slider_wrapp.view_2 .flexslider .slides li td.tablet_text .banner_buttons .btn:hover {
  color: #d12525 !important;
  background-color: #fff;
}
.top_slider_wrapp.view_2 .flexslider .slides li td.tablet_text .banner_buttons .btn:hover .svg-playpause svg path {
  fill: #222;
}
.basket_wrapp:not(.basket_fill_COLOR) .basket_fly .wraps_icon_block.delay .count span {
  background-color: #cd2424;
}
.basket_normal .basket_wrapp .wraps_icon_block.basket .count span {
  background-color: #cd2424;
}
.bx_filter .bx_filter_parameters_box_title:hover:after {
  color: #c02222;
}
.bx_filter .bx_filter_param_label.active .bx_filter_btn_color_icon,
.bx_catalog_item_scu ul li.active .cnt_item,
.bx_scu_scroller_container ul li.bx_active .cnt_item {
  box-shadow: 0px 0px 0px 2px #cd2424;
}
.bx_filter_vertical input[type="checkbox"]:not(:checked) + label.sku:hover span,
.sku_props .bx_item_detail_size ul li:not(.active):hover span,
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li:hover span {
  color: #c02222;
}
.bx_filter_vertical input[type="checkbox"] + label.sku:hover,
.sku_props .bx_item_detail_size ul li:hover,
.bx_item_list_you_looked_horizontal .bx_item_detail_size ul li:hover {
  border-color: #c02222;
}
.bx_filter.compact .bx_filter_parameters_box.set .bx_filter_parameters_box_title:not(.prices) {
  border: 1px solid #d42727;
  color: #d42727;
}
.bx_filter.compact .bx_filter_parameters_box .bx_filter_parameters_box_title .delete_filter svg path {
  fill: #d42727;
}
.menu-row.middle-block.bglight .mega-menu table td.icon.sale_icon .wrap > a .svg path {
  fill: #d42727;
}
.more_text_ajax:after {
  background-color: #cd2424;
}
.list_item .description_wrapp .like_icons span.added {
  color: #c02222;
}
.bx_ordercart .bx_sort_container a.current:after {
  background: #c26c6f;
}
.bx_ordercart .bx_ordercart_order_pay .bx_ordercart_order_pay_center .checkout {
  color: #d42727;
  border: 1px solid #d42727;
  background: #ffffff;
}
.bx_ordercart .bx_ordercart_order_pay .bx_ordercart_order_pay_center .checkout:hover {
  color: #fff;
  border-color: #d42727;
  background: #d42727;
}
.button.transparent:not(.text):hover {
  border-color: #c26c6f;
  background: #c26c6f;
  color: #fff;
}
.button.transparent.grey_br:hover {
  border-color: #c26c6f;
  background: #fff;
}
.bx_ordercart tbody td.control a:first-of-type:hover,
.bx_ordercart #basket_items_delayed tbody td.control a:last-of-type:hover,
.bx_ordercart #basket_items_subscribed  tbody td.control a:first-of-type:hover,
.bx_ordercart #basket_items_not_available  tbody td.control a:last-of-type:hover,
.bx_ordercart .bx_ordercart_order_pay .bx_ordercart_coupon:not(:first-of-type) > span:hover {
  background-color: #c26c6f;
}
.bx_ordercart .bx_sort_container a,
.bx_item_list_you_looked_horizontal .bx_catalog_item .bx_catalog_item_title a:hover,
.bx_item_list_you_looked_horizontal .bx_catalog_item:hover .bx_catalog_item_title a {
  color: #cd2424;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a,
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone a {
  color: #FFF;
  background: #cd2424;
}
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blocktwo a:hover,
.bx_item_list_you_looked_horizontal .bx_catalog_item_controls .bx_catalog_item_controls_blockone a {
  background: #dc3e3e;
}
.sale_order_full_table input[name="BuyButton"] {
  background-color: #d12525;
}
.sale_order_full_table input[name="BuyButton"] {
  background-color: #dc3e3e;
}
.bx_ordercart .bx_item_detail_size_small_noadaptive ul li:active a,
.bx_ordercart .bx_item_detail_size_small_noadaptive ul li.bx_active a,
.bx_ordercart .bx_item_detail_size_small_noadaptive ul li:hover a {
  border-color: #dc3e3e;
}
.color_link {
  color: #c02222 !important;
}
.detail .gallery-block .small-gallery ul.items li.flex-active-slide,
.detail .gallery-block .small-gallery ul.items li:hover {
  border-color: #d42727;
}
.page_error_block svg path {
  fill: #d42727;
}
.sale-personal-section-index-block-ico i,
.personal_wrapper .sale-personal-account-wallet-container .sale-personal-account-wallet-list-item:before {
  background-color: #d42727;
}
.sale-personal-section-index-block-ico i.fa {
  color: #d42727;
}
.sale-acountpay-fixedpay-list .sale-acountpay-fixedpay-item {
  border-color: #c26c6f;
  color: #c02222;
}
.sale-acountpay-fixedpay-list .sale-acountpay-fixedpay-item:hover {
  background-color: #c26c6f;
}
.bx-sap .sale-acountpay-pp-company.bx-selected .sale-acountpay-pp-company-graf-container,
.bx-sap .sale-acountpay-pp-company:hover .sale-acountpay-pp-company-graf-container,
.sale-order-payment-change-pp-company:hover .sale-order-payment-change-pp-company-image {
  border-color: #c26c6f !important;
}
.bx-sap .sale-acountpay-pp-company:not(.bx-selected):hover .sale-acountpay-pp-company-smalltitle,
.sale-order-payment-change-pp-company:hover .sale-order-payment-change-pp-company-smalltitle {
  color: #c02222 !important;
}
.bx-sap .sale-acountpay-pp-company.bx-selected .sale-acountpay-pp-company-graf-container:before,
.bx-sap .sale-acountpay-pp-company:not(.bx-selected):hover .sale-acountpay-pp-company-graf-container:before {
  background-color: #d42727;
  border: none;
}
.sale-personal-profile-list-container>tbody>tr>td:first-child b {
  color: #d42727;
}
.personal_wrapper .sale-profile-detail-link-list a:before {
  background-color: #d42727;
}
.personal_wrapper input[type=submit]:last-of-type,
.personal_wrapper .orders_wrapper .sale-order-list-inner-row:last-of-type > div:last-of-type a,
.personal_wrapper .orders_wrapper .sale-order-detail-about-order-inner-container-repeat .sale-order-detail-about-order-inner-container-repeat-cancel {
  border-color: #d42727;
  color: #d42727 !important;
}
.personal_wrapper input[type=submit]:hover:last-of-type,
.personal_wrapper .orders_wrapper .sale-order-list-inner-row:last-of-type > div:last-of-type a:hover,
.personal_wrapper .orders_wrapper .sale-order-detail-about-order-inner-container-repeat .sale-order-detail-about-order-inner-container-repeat-cancel:hover {
  background: #d42727;
  color: #fff !important;
}
.personal_wrapper .orders_wrapper .row.col-md-12.col-sm-12 > a,
.sale-order-detail-about-order-inner-container-list-item-link {
  color: #d42727;
}
.personal_wrapper .orders_wrapper .sale-order-list-inner-row > div >a {
  background: #d42727;
}
.personal_wrapper .orders_wrapper .sale-order-list-inner-row > div >a:hover {
  background: #dc3e3e;
}
.personal_wrapper .orders_wrapper .sale-order-list-change-payment {
  color: #d42727;
}
.personal_wrapper .orders_wrapper .sale-order-list-button {
  background-color: #d42727;
}
.personal_wrapper .orders_wrapper .sale-order-list-button:hover {
  background-color: #dc3e3e;
}
.bx_my_order_cancel a,
.personal_wrapper .orders_wrapper .sale-order-list-inner-row>div>a.sale-order-list-cancel-payment {
  color: #d42727 !important;
}
.personal_wrapper form[name=ShopForm] input[type=submit],
.personal_wrapper .sale-order-list-inner-row-template input[type=submit],
.personal_wrapper .sale-order-detail-inner-row-template input[type=submit],
.personal_wrapper .sale-order-payment-change-pp input[type=submit],
.personal_wrapper .orders_wrapper .sale-order-detail-about-order-inner-container-repeat .sale-order-detail-about-order-inner-container-repeat-button,
.personal_wrapper .sale-order-detail-payment-options-methods-button-element,
.personal_wrapper .sale-order-detail-payment-options-methods-button-element-new-window {
  background: #d42727;
  color: #fff !important;
}
.personal_wrapper form[name=ShopForm] input[type=submit]:hover,
.personal_wrapper .sale-order-list-inner-row-template input[type=submit]:hover,
.personal_wrapper .sale-order-detail-inner-row-template input[type=submit]:hover,
.personal_wrapper .sale-order-payment-change-pp input[type=submit]:hover,
.personal_wrapper .orders_wrapper .sale-order-detail-about-order-inner-container-repeat .sale-order-detail-about-order-inner-container-repeat-button:hover,
.personal_wrapper .sale-order-detail-payment-options-methods-button-element:hover,
.personal_wrapper .sale-order-detail-payment-options-methods-button-element-new-window:hover {
  background: #dc3e3e;
  border-color: transparent;
}
.landings_list span.more,
.landings_list2 span.more,
.landings_list3 span.more {
  border-color: #d42727;
  color: #d42727;
}
.landings_list3 a:hover,
.landings_list3 a.active {
  background-color: #d42727;
}
.reviews.item-views.front .item .image:before {
  background-color: #d42727;
}
.item-views .item .bottom-props .value {
  background-color: #d42727;
}
.bottom-menu .item:hover .title a,
.bottom-menu .item:hover .title,
.bottom-menu .item.active .title a,
.bottom-menu .item.active .title {
  color: #dc3e3e !important;
}
footer .print-link:hover {
  color: #dc3e3e;
}
footer .print-link:hover svg path {
  fill: #dc3e3e;
}
.catalog-delivery-error-icon svg path,
.catalog-delivery-error-icon svg circle {
  fill: #d42727;
}
.catalog-delivery-item.open .catalog-delivery-item-head:before {
  background-color: #d42727;
}
.catalog-delivery-item .catalog-delivery-item-head:hover .catalog-delivery-item-opener {
  border-color: #d42727 !important;
  background: #d42727 !important;
  color: #ffffff;
}
.catalog-delivery .bx-sls .quick-location-tag {
  border-color: #d42727;
  color: #d42727;
}
.catalog-delivery .bx-sls .quick-location-tag:hover {
  border-color: #d42727;
  background: #d42727;
  color: #ffffff;
}
