.catalog-price {
	 color:red;
}
div.catalog-sections-top table td {
	padding-right:10px;
	padding-top:10px;
}
.section-popular-item {
    height: 371px;
    /*height: 310px;*/
}

.gr-section-item {
    /*height: 305px;*/
    margin-bottom: 40px;
    overflow: hidden;
    padding-top: 15px;
    border: 2px solid transparent;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.gr-section-name {
    padding: 0;
    font-size: 13px;
    /*position: absolute;*/
}

.gr-section-item:hover {
    box-shadow: 0 7px 15px 0 rgba(0,0,0,.19);
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    overflow: auto;
    z-index: 10000;
    padding: 15px;
    border-color: #fe980f;
}

.gr-section-name .section-title {
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
}

.gr-section-name li {
    display: block;
    font-size: 12px;
    margin: 5px;
        margin-bottom: 5px;
}

.gr-section-name .section-title a {
    color: #000;
}

.gr-section-name li a {
    color: #212121;
    display: block;
}

.gr-section-name li.hide_li{
    display: none;
}

.gr-section-item:hover .hide_li{
    display: block;
}