ul.abcd-filter, 
ul.abcd-names {
    padding-left: 0;
    margin: 0;
}


ul.abcd-filter > li.abcd-letter {
    border: 1px solid #d42727;
    border-radius: 22px;
    display: inline-block;
    height: 30px;
    line-height: 27px;
    text-align: center;
    width: 30px;
    position: relative;
    cursor: pointer;
    color: #fff;
    background: #d42727;
    font-weight: bold;
    margin-right: 2px;
    margin-bottom: 5px;
}

ul.abcd-names {
    position: absolute;
    display: none;
    border: 1px solid #d42727;
    background: #fff;
    z-index: 1500;
    top: 23px;
}

ul.abcd-filter > li.abcd-letter {
    line-height: 27px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

ul.abcd-names li a {
    display: block;
    padding: 5px 15px;
    white-space: nowrap;
    color: #000;
}

ul.abcd-filter > li.abcd-letter:hover ul.abcd-names {
    display: block;
    text-align: left;
    list-style: none;
}

ul.abcd-names {
    position: absolute;
    display: none;
    border: 1px solid #d42727;
    background: #fff;
    z-index: 1500;
    top: 23px;
}

ul.abcd-filter > li.abcd-letter:hover ul.abcd-names {
    text-align: left;
    list-style: none;
}

ul.abcd-filter > li.abcd-letter:hover ul.abcd-names {
    text-align: left;
    list-style: none;
}

ul.abcd-filter > li.abcd-letter:hover {
    color: #fff;
}

ul.abcd-names li a {
    display: block;
    padding: 5px 15px;
    white-space: nowrap;
    color: #000;
}

ul.abcd-filter > li.abcd-letter:hover {
    color: #fff;
    background: #fe980f;
}
ul.abcd-filter > li.abcd-letter {
    padding: 0;
}

.right_block ol li::before, .right_block ul li::before{
        padding: 0;
    margin-left: 0;
    width: 20px;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    position: absolute;
    top: 0;
    left: 0;

}

ul li.abcd-letter::before ,
ul li.abcd-name::before {
    content: "";
    color: #383838;
}

.right_block ol li.abcd-name, 
.right_block ul li.abcd-name{
    padding: 0;

}

ul.abcd-names li a:hover {
    background: #f0f0f0;
}